{% extends 'base.html' %}
{% block title %}Archive | {{ site.title }}{% endblock %}

{% block seo %}
<meta name="description" content="思维进化录" />
<meta name="keywords" content="{{site.configs.keywords}}" />
{% endblock %}


{% block content %}

        <div id="post-list">
    <ul class="archive-list">
    {% for month, posts in archive %}
        <li class="list-years">{{ month }}</li>
        <ul class='listing'>
        {% for post in posts %}        
            <li class="listing-item">
                <span class="date">{{ post.date | date("%Y-%m-%d") }}</span> 
                {% if post.metadata.link %}
                <a href="{{post.metadata.link}}" title="{{ post.title }}">{{ post.title }}</a>
                {% else %}
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
  

         
        </div>
{% endblock %}

